<a href="https://colab.research.google.com/github/nikkijha97/Python/blob/main/Comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**List Comprehnsion**

In [ ]:
Give me numbers which are divisible by 7 from 0 to 100 using List comprehension.

In [3]:
l=[]
for i in range(0,101):
  if i%7==0:
    l.append(i)
print(l)

[0, 7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

In [5]:
l1=[i for i in range(0,101) if i%7==0]
l1

[0, 7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

In [22]:
s1=[item for item in ["dress1", "dress1", "dress1"]]
s1

['dress1', 'dress1', 'dress1']

**Dictonary Comprehension**

In [ ]:
##basics
d={0:"item0",1:"item2",... till 100}

In [9]:
dic={i:f"item{i}" for i in range(0,101)}
dic

{0: 'item0',
 1: 'item1',
 2: 'item2',
 3: 'item3',
 4: 'item4',
 5: 'item5',
 6: 'item6',
 7: 'item7',
 8: 'item8',
 9: 'item9',
 10: 'item10',
 11: 'item11',
 12: 'item12',
 13: 'item13',
 14: 'item14',
 15: 'item15',
 16: 'item16',
 17: 'item17',
 18: 'item18',
 19: 'item19',
 20: 'item20',
 21: 'item21',
 22: 'item22',
 23: 'item23',
 24: 'item24',
 25: 'item25',
 26: 'item26',
 27: 'item27',
 28: 'item28',
 29: 'item29',
 30: 'item30',
 31: 'item31',
 32: 'item32',
 33: 'item33',
 34: 'item34',
 35: 'item35',
 36: 'item36',
 37: 'item37',
 38: 'item38',
 39: 'item39',
 40: 'item40',
 41: 'item41',
 42: 'item42',
 43: 'item43',
 44: 'item44',
 45: 'item45',
 46: 'item46',
 47: 'item47',
 48: 'item48',
 49: 'item49',
 50: 'item50',
 51: 'item51',
 52: 'item52',
 53: 'item53',
 54: 'item54',
 55: 'item55',
 56: 'item56',
 57: 'item57',
 58: 'item58',
 59: 'item59',
 60: 'item60',
 61: 'item61',
 62: 'item62',
 63: 'item63',
 64: 'item64',
 65: 'item65',
 66: 'item66',
 67: 'item67',
 68: 'item68',
 69: 'item69',
 70: 'item70',
 71: 'item71',
 72: 'item72',
 73: 'item73',
 74: 'item74',
 75: 'item75',
 76: 'item76',
 77: 'item77',
 78: 'item78',
 79: 'item79',
 80: 'item80',
 81: 'item81',
 82: 'item82',
 83: 'item83',
 84: 'item84',
 85: 'item85',
 86: 'item86',
 87: 'item87',
 88: 'item88',
 89: 'item89',
 90: 'item90',
 91: 'item91',
 92: 'item92',
 93: 'item93',
 94: 'item94',
 95: 'item95',
 96: 'item96',
 97: 'item97',
 98: 'item98',
 99: 'item99',
 100: 'item100'}

In [13]:
dictww={i:f"item{i}" for i in range(100) if i%7==0}
dictww

{0: 'item0',
 7: 'item7',
 14: 'item14',
 21: 'item21',
 28: 'item28',
 35: 'item35',
 42: 'item42',
 49: 'item49',
 56: 'item56',
 63: 'item63',
 70: 'item70',
 77: 'item77',
 84: 'item84',
 91: 'item91',
 98: 'item98'}

In [14]:
dict1={i:f"item{i}" for i in range(5)}
dict1

{0: 'item0', 1: 'item1', 2: 'item2', 3: 'item3', 4: 'item4'}

Dictonary comprehension is very good idea for reversing key: value pain for dictonary.
The example is shown a below for dict1 we will reverse the key value pair.

In [15]:
dict1={value:key for key,value in dict1.items()}
dict1

{'item0': 0, 'item1': 1, 'item2': 2, 'item3': 3, 'item4': 4}

In [16]:
dict2={i:f"fish{i}" for i in range(100) if i%7==0}
dict2

{0: 'fish0',
 7: 'fish7',
 14: 'fish14',
 21: 'fish21',
 28: 'fish28',
 35: 'fish35',
 42: 'fish42',
 49: 'fish49',
 56: 'fish56',
 63: 'fish63',
 70: 'fish70',
 77: 'fish77',
 84: 'fish84',
 91: 'fish91',
 98: 'fish98'}

In [18]:
dict3={value:key for key,value in dict2.items()}
dict3

{'fish0': 0,
 'fish7': 7,
 'fish14': 14,
 'fish21': 21,
 'fish28': 28,
 'fish35': 35,
 'fish42': 42,
 'fish49': 49,
 'fish56': 56,
 'fish63': 63,
 'fish70': 70,
 'fish77': 77,
 'fish84': 84,
 'fish91': 91,
 'fish98': 98}

**Set comprehension**

In [21]:
s1={item for item in ["dress1", "dress1", "dress1"]}
s1

{'dress1'}

In [23]:
l1={i for i in range(0,101) if i%7==0}
l1

{0, 7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98}